# Project specific generated output folders
build
libs

# IntelliJ IDEA project files and folders
.idea
*.iml
*.ipr
*.iws
.ideaDataSources

# Visual Studio Code project files and folders
.vscode

# BlueJ files
*.ctxt

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
